<div class="my-3 mx-sm-auto">
    <form class="">
        <fieldset>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="email" class="form-control" id="Email" placeholder="Email">
            </div>

            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" id="Password" placeholder="Password">
            </div>

            <div class="form-group">
                <label for="ReEnterPassword">Re-Enter Password</label>
                <input type="password" class="form-control" id="ReEnterPassword" placeholder="Re-Enter Password">
            </div>
        </fieldset>

        <button type="submit" class="btn btn-primary w-100 mb-1">Submit</button>
        <a class="btn btn-danger w-100" [routerLink]="['']">Cancel</a>
    </form>
</div>

