<div class="mt-4 jumbotron">
    <h1>Hello!</h1>
    <p>Welcome to Plagiarizer</p>
    With the help of Plagiarizer, you would be able to check for Plagiarism in your files.
    <br/><br/>
    <h4 class="text-warning">Using the System</h4>
    <ol>
        <li>The Backend of the Plagiarizer needs to be up and running</li>
        <li>Go to <a [routerLink]="['upload']">Uploads</a> Page and upload your files for comparing</li>
        <li>Go to <a [routerLink]="['select']">Compare</a> Page for comparing the uploaded files</li>
        <li>View the Results. P.S: Results are cached, if you want to see new results, click on "Compare Again" button</li>
    </ol>
</div>

<hr>

