<nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top py-0">
    <a class="navbar-brand" [routerLink]="['']">Plagiarizer</a>
    <button class="navbar-toggler navbar-toggler-right btn-xs mt-1"
            type="button"
            data-toggle="collapse"
            data-target="#navbar-content"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav mr-auto"></ul> <!-- to push everything to right  -->
        <!--<ul class="navbar-nav">-->
        <!--<li class="nav-item">-->
        <!--<a class="nav-link" [routerLink]="['login']">Login</a>-->
        <!--</li>-->
        <!--</ul>-->
        <!--<ul class="navbar-nav">-->
        <!--<li class="nav-item">-->
        <!--<a class="nav-link" [routerLink]="['register']">Register</a>-->
        <!--</li>-->
        <!--</ul>-->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['upload']">Upload</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['select']">Compare</a>
            </li>
        </ul>

    </div>
</nav>
